<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40198793514-k038lm8cmn86et8ha956k809mmf6njba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40198793514-k038lm8cmn86et8ha956k809mmf6njba</string>
	<key>API_KEY</key>
	<string>AIzaSyCAsIJYWqCnkfVdwOggNGTc21-izcMI4js</string>
	<key>GCM_SENDER_ID</key>
	<string>40198793514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.x691.dalapp</string>
	<key>PROJECT_ID</key>
	<string>dal-app-c95d5</string>
	<key>STORAGE_BUCKET</key>
	<string>dal-app-c95d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40198793514:ios:01011572d648ce51c65653</string>
	<key>DATABASE_URL</key>
	<string>https://dal-app-c95d5-default-rtdb.firebaseio.com</string>
</dict>
</plist>